<div id="ms-cookie-warning" class="ms-cookie-warning">
	{{ 'ms.cms.cookie-warning.text' | trans | raw }}
	<a href="#" id="ms-cookie-link" class="cookie-agree" data-cookie-name="{{ app.cfg.app.sessionNamespace }}-cookie-warning">
		{{ 'ms.cms.cookie-warning.link' | trans }}
	</a>
</div>