{% extends 'Message:Mothership:ControlPanel::_templates/full_slideout' %}

{% block main %}
	<hgroup class="title">
		<h1>Content</h1>
		<div class="controls">
			{{ render(controller('Message:Mothership:CMS::Controller:ControlPanel:Search#index'))}}

			<a href="{{ url('ms.cp.cms.create')}}" class="button small create" data-live>{{ 'ms.cms.create.button.menu'|trans }}</a>

		</div>	
	</hgroup>

	<div class="container-content">
		{{ render(controller('Message:Mothership:CMS::Controller:ControlPanel:DashBoard#pageList')) }}
	</div>
{% endblock %}