{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:CMS::Controller:ControlPanel:Sidebar#index'))}}
{% endblock %}

{% block main %}
	<div class="dashboard">
		<div class="modules">
			{% for reference in dashboardReferences %}
				{{ render(controller(reference.reference)) }}
			{% endfor %}
		</div>
	</div>
{% endblock %}