{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}

{% block main %}
	<hgroup class="title">
		<h1>Content</h1>
	</hgroup>

	{{ render(controller('Message:Mothership:CMS::Controller:ControlPanel:Sidebar#index'))}}

{% endblock %}